html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  background: url('../images/lil_fiber.png');
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.l-header {
  margin: 0 auto;
  padding: 16px 16px 12px;
  color: white;
  background-color: #434556;
  width: 100%;
}
.l-header-2 {
  background-color: #cdd1d8;
}

.header-titles {
  float: left;
}
.header-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.575rem;
  line-height: 1;
  margin: 0;
}
.header-subtitle {
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  padding-left: 12px;
  line-height: 1.1;
}

.header-nav {
  float: right;
}
.header-nav a {
  display: inline-block;
  padding: 0 6px;
  text-decoration: none;
}
.header-nav a:link {
  color: white;
}
.header-nav a:visited {
  color: white;
}
.header-nav a:hover {
  color: white;
}
.header-nav a:active {
  color: white;
}

.l-main {
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
  height: 100%;
}

.l-leftpane {
  flex: 0 0 25%;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
  overflow-y: scroll;

  /* we set this to be a reference point for the left pane contents
     that use offsetTop to anchor their position within the pane */
  position: relative;
}

.l-centerpane {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* a slight tint over the texture on the body */
  background-color: rgba(50, 50, 80, 0.05);
}
.l-centerpane-main {
  flex: 1;
  display: flex;
  flex-direction: column;

  /**
   We comment this out to prevent the handsontable from breaking in IE. This is a known issue in HOT,
   where percentage widths & heights don't work when there's an overflow property in the parents. See:
   https://github.com/handsontable/handsontable/issues/4141#issuecomment-360429985

   This means things break on chrome for very short screens, but I don't know of a way around that.
  */
  /* overflow-y: scroll; */
}

.l-rightpane {
  flex: 0 0 25%;
  background-color: #f4f4f4;
  border-left: 1px solid #ccc;
  overflow-y: scroll;

  /* we set this to be a reference point for the left pane contents
     that use offsetTop to anchor their position within the pane */
  position: relative;
}

.presets {
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.presets__desc {
  font-size: 14px;
  padding-right: 1rem;
  text-shadow: 0px 1px 1px #eee;
}
.preset {
  border: none;
  font-size: 13px;
  padding: 4px 12px;
  margin: 2px 0;
  box-shadow: 0 1px 3px -1px #999;
  cursor: pointer;
  background-color: #fff;
}
.preset:hover {
  background-color: #fffee8;
  color: #000;
}
.preset:active {
  background-color: #fffee8;
  color: #000;
  box-shadow: none;
}

.formatfield {
  width: 100%;
  margin: 0 auto;
  padding-top: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.formatfield__label {
  display: block;
  font-size: 11px;
  color: #555;
  padding: 0 0 2px 2px;
}
.formatfield__input {
  width: 100%;
  font-size: 2rem;
  padding: 3px;
  margin-bottom: 12px;
}
.formatfield__input:focus {
  outline: 2px solid #9999a9;
}

.formatfield__hint {
  display: flex;
  justify-content: center;
}

.formatfield__hintbox {
  width: 100px;
  background: #e6e6e6;
  border: 1px solid #d2d2d2;
  color: #999;
  margin-right: 1rem;
  padding: 0;
  position: relative;
  text-align: center;
  font-size: 12px;
}

.formatfield__hintbox:after {
  content: ';';
  display: block;
  position: absolute;
  font-size: 18px;
  top: -6px;
  right: -12px;
}
.formatfield__hintbox:last-of-type:after {
  display: none;
}

.formatcases {
  padding: 0 1rem;
}
.formatcases__bothcol {
  display: flex;
  justify-content: center;
}
.formatcases__after {
  width: 50%;
}

.formatcases__columnlabel {
  font-size: 18px;
  color: #555;
  padding: 0 0 2px 0;
  text-align: center;
}

.formatcases__aftertable {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  table-layout: fixed;
}
.formatcases__aftertable td {
  position: relative;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left-width: 0;
  background-color: #e8e8e8;
  color: #555;
  padding: 0 8px 0 24px;
  height: 40px;
  line-height: 39px;
  width: 50%;
  font-size: 26px;
  white-space: nowrap;
}
.formatcases__aftertable tr:last-of-type td {
  border-bottom: 1px solid #ccc;
}
.formatcases__aftertable div {
  height: 100%;
  overflow-x: auto;
}

.formatcases__aftertable .arrow {
  position: absolute;
  top: -2px;
  left: -13px;
  color: #888;
  z-index: 1; /* displays it above table input */
}
.formatcases__aftertable div:empty + .arrow {
  display: none;
}

.handsontable td {
  font-size: 26px;
  line-height: 26px;
  vertical-align: middle;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.handsontableInput {
  /* a tiny hack to ensure the text is aligned with the table cell's vertical-align: middle */
  line-height: 39px;
}

.sidebar {
  padding: 0 1rem 2rem;
  color: #555;
}
.sidebar h2 {
  font-size: 16px;
  font-weight: bold;

  /* sticky styles */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin: 0;
  padding: 12px 0 8px;
  background-color: #f4f4f4;
}
.sidebar h3 {
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.sidebar p {
  font-size: 14px;
}
.sidebar a:link {
  color: #555;
}
.sidebar a:visited {
  color: #555;
}

.reftable {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
}
.reftable th,
.reftable td {
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: left;
  padding: 0 2px;
}
.reftable__note {
  font-weight: normal;
  font-size: 12px;
  color: #999;
}

.example {
  cursor: pointer;
  border: none;
  background: white;
  width: 100%;
  text-align: left;
  color: #555;
  margin: 4px 0;
  padding: 0;
  box-shadow: 0 1px 3px -1px #999;
}
.example:hover {
  background: #fffee8;
}
.example:active {
  background-color: #fffee8;
  color: #555;
  box-shadow: none;
}
.example__desc {
  margin: 0;
  font-size: 12px;
  border-bottom: 1px solid #f5f5f5;
  padding: 2px 6px;
  font-style: italic;
}
.example__details {
  display: flex;
  justify-content: space-between;
  padding: 2px 6px;
}
.example__code {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 4px;
}
.example__example {
  color: #bbb;
  white-space: nowrap;
}

.info-icon {
  width: 16px;
  height: 16px;
  background-image: url('../images/info.svg');
  border: none;
  background-color: transparent;
  background-size: 16px 16px;
  cursor: pointer;
}

.infobox {
  position: relative;
  background: white;
  color: #555;
  font-size: 14px;
  border-top: 1px solid #ccc;
  height: 150px;
  z-index: 1; /* places it above arrows but below modal */
  display: none;
}
.infobox__content {
  padding: 0 1rem;
  overflow-y: scroll;
  height: 100%;
}
.infobox__close {
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
  font-size: 20px;
  color: #555;
}
.infobox__close:hover {
  cursor: pointer;
}
.infobox.infobox--visible {
  display: block;
}

.takeover {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.94);
  overflow: auto;
  display: none;
}
.takeover__close {
  border: none;
  background: none;
  color: white;
  font-size: 60px;
  position: fixed;
  top: 0;
  right: 1rem;
  cursor: pointer;
}
.takeover--visible {
  display: block;
}
.takeover__content {
  padding: 2rem 3rem;
  max-width: 860px;
  margin: 0 auto;
}
.takeover h2 {
  font-size: calc(36px + 3vw);
  text-align: center;
  margin: 1.5vw 0;
}
.takeover p {
  font-size: calc(14px + 1.5vw);
  line-height: 1.4;
}
.takeover li {
  font-size: calc(12px + 1.4vw);
  margin: 10px 0;
}
.takeover .takeover__small {
  font-size: calc(10px + 0.75vw);
}
.takeover a:link {
  color: #82a2bc;
}
.takeover a:visited {
  color: #82a2bc;
}
.takeover a:hover {
  color: #82a2bc;
}
.takeover a:active {
  color: #82a2bc;
}

/* UTILITIES */
.center {
  text-align: center;
}
